*, *::before, *::after {
  box-sizing: border-box;
  outline: none;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background: url('../../assets/img/header.svg') #141414 no-repeat;
}

h1, h2 {
  color: #fff;
}