<template>
  <div id="app">
    <h1 class="maintitle">Conversor</h1>
    <div class="container">
      <div class="form-group">
        <label>€</label>
        <input type="text" class="textinput" v-model="eur" @input="clear"/>
      </div>
      <div class="form-group">
        <label>Pts</label>
        <input type="text" class="textinput" v-model="pts" @input="clear"/>
      </div>
    </div>
    <div class="container">
      <Button v-on:click.native="toPts">A Pesetas</Button>
      <Button v-on:click.native="toEur">A Euros</Button>
    </div>
    <div class="container">
      <h2>{{formattedResult}}</h2>
    </div>
    <img class="foot" src="./assets/img/foot.svg" />
  </div>
</template>

<script>
import Button from '@/components/Button'

export default {
  name: 'app',
  components: {
    Button
  },
  data () {
    return {
      PTS_VALUE: 166.386,
      eur: 0,
      pts: 0,
      result: 0,
      exchange: ''
    }
  },
  computed: {
    formattedResult () {
      if (this.result !== 0) {
        return (this.exchange === 'eur') ? `${this.pts}pts = ${this.result}€` : `${this.eur}€ = ${this.result}pts`
      }
      return ''
    }
  },
  methods: {
    clear () {
      console.log('xd')
      this.result = 0
    },
    toPts () {
      if (this.eur !== '') {
        this.exchange = 'pts'
        this.result = (this.eur * this.PTS_VALUE).toFixed(2)
      }
    },
    toEur () {
      if (this.pts !== '') {
        this.exchange = 'eur'
        this.result = (this.pts / this.PTS_VALUE).toFixed(2)
      }
    }
  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:100%;
  height: 100%;
  max-width: 400px;
  max-height: 550px;
  .foot {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }
  .maintitle {
    font-size: 60px;
    margin: 0;
    text-align: center;
    color: #fff;
    padding: 13px 0 0;
  }
  .container {
    width: 250px;
    margin: 40px auto 0;
    padding: 20px 0 0;
    z-index: 1000;
    overflow: hidden;
    &:nth-child(3), &:nth-child(4) {
      margin: 0 auto;
      padding: 0;
      width: 350px;
      display: flex;
      justify-content: space-between;
    }
  }
  .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    justify-content: space-between;
    label {
      color: #fff;
      font-size: 25px;
    }
    .textinput {
      width: 79%;
      border: none;
      border-radius: 8px;
      padding: 10px 15px;
      background: #D33232;
      transition: all .2s ease;
      color: #fff;
      font-size: 18px;
      &:hover, &:focus {
        background: #a72727;
        box-shadow: 0 3px 6px rgba(#000, .05);
      }
      &::placeholder {
        color: #242323;
      }
    }
  }
}

h2 {
  text-align: center;
  width: 100%;
  font-size: 35px;
  margin-top: 65px;
}
</style>
